<section id="about" class="section active-section">
  <h2 class="section-title">About Me</h2>
  <div class="about-content">
    <img src="assets/PHOTO.jpg" alt="Profile photo" class="profile-img">
    <div class="about-text">
      <p>
        I'm a computer science and engineering graduate who is learning and discovering technologies and their advancements. I graduated in 2024 at Rajagiri School of engineering and Technology, Kochi, Kerala. Right after my graduation I started working at Ruby Seven Studios where I worked as a backend engineer. During my college days I was exposed to many events that gave me knowledge  about how the IT world works. I have been actively involved in many workshops and hackathons giving me a great experience and exposure on programming, deployment and other aspects in working on a project. I have been working on many projects both personal and academic related. Through these exposures and self learning, I have become more proficient with coding and handling projects. 
      </p>
      <p>
        Working at Ruby Seven Studios gave me more insights and widened my views about programming and deployment. I have been working at rubyseven since December 2024 and learned a lot about programming , backend development and deployment workflows,collaboration in a production environment and also have improved my soft skills. I'm deeply interested in deployment and backend working of projects as I got a lot of exposure from my workplace.  I also have developed deep interests and have been exploring AI and ML development by learning and doing projects. 
This digital space highlights my journey and my works.
      </p>
      <div class="about-actions">
        <a href="assets/RESUME.pdf" class="btn" download>Resume</a>
      </div>
    </div>
  </div>
</section>
