<section id="awards" class="section active-section">
  <h2 class="section-title">Awards & Achievements</h2>
  <div class="awards-list">
    
    
        <div class="award-item">
      <!-- <div class="award-icon">🥇</div> -->
      <div class="award-details">
        <h3>Academic Excellence Award</h3>
        <p class="award-date">Rajagiri School of Engineering and Technology | 2024</p>
        <p>Honoured with Merit award for outstanding performance in computer science and engineering from Rajagiri School of Engineering and Technology.</p>
      </div>
    </div>
    
    <div class="award-item">
      <!-- <div class="award-icon">🏆</div> -->
      <div class="award-details">
        <h3>Honours in Machine Learning</h3>
        <p class="award-date">Rajagiri School of Engineering and Technology | 2024</p>
        <p>Passed out form Rajagiri School of engineering and technology with a honours in machine learning. Learning and practicing concepts of AI-ML.</p>
      </div>
    </div>
  
    <div class="award-item">
      <!-- <div class="award-icon">⭐</div> -->
      <div class="award-details">
        <h3>Award for outstanding performance in CBSE examinations</h3>
        <p class="award-date">Gulf Indian High School, Dubai, UAE | 2020</p>
        <p>Awarded for outstanding performance in both grade 10 and 12 from Gulf Indian High School, Dubai, UAE.</p>
      </div>
    </div>

    <div class="award-item">
      <!-- <div class="award-icon">🥇</div> -->
      <div class="award-details">
        <h3>GATE 2024 qualified</h3>
        <p class="award-date">GATE | 2024</p>
        <p>Qualified GATE 2024 examination on subjects that are related to computer science and engineering.</p>
      </div>
    </div>
    
    
    <div class="award-item">
      <!-- <div class="award-icon">⭐</div> -->
      <div class="award-details">
        <h3>Minors in robotics</h3>
        <p class="award-date">Rajagiri School of Engineering and Technology | 2024</p>
        <p>Passed out form Rajagiri School of engineering and technology with a Minors in robotics. Learning and practicing concepts of Robotics.</p>
      </div>
    </div>

    <div class="award-item">
      <!-- <div class="award-icon">🥇</div> -->
      <div class="award-details">
        <h3>Finalist in HackerRank Hackathon 2024</h3>
        <p class="award-date">HackerRank | 2024</p>
        <p>Finalist in HackerRank Hackathon 2024 for presenting and implementing facial expression and emotion prediction.</p>
      </div>
    </div>
    
    <div class="award-item">
      <!-- <div class="award-icon">🥇</div> -->
      <div class="award-details">
        <h3>Finalist in Slash Key hackathon conducted by Intel Developer Zone</h3>
        <p class="award-date">Intel Developer Zone | 2023</p>
        <p>Finalist in Slash Key hackathon 2024 for presenting and implementing college admission suggestion system.</p>
      </div>
    </div>

  </div>
</section>
