<section id="education" class="section active-section">
  <h2 class="section-title">Education</h2>
  <div class="timeline-container">
    <div class="timeline-item">
      <h3>BTech in Computer Science and Engineering (2020–2024)</h3>
      <p class="timeline-date">Rajagiri School of Engineering and Technology, Kochi, Kerala | 8.31 GPA</p>
      <p>Graduated from college with a strong foundation in computer science and engineering principles. Projects and coursework focused on software development, algorithms, and AI. Additional Webinars and workshops were attended to enhance skills.</p>
    </div>
    <div class="timeline-item">
      <h3>12th Grade (2020)</h3>
      <p class="timeline-date">Gulf Indian High School, Dubai, UAE | 92.8%</p>
      <p>Completed higher secondary education with excellence in science, mathematics and computer science. Practical and theoretical knowledge were both emphasized.</p>
    </div>
    <div class="timeline-item">
      <h3>10th Grade (2018)</h3>
      <p class="timeline-date">Gulf Indian High School, Dubai, UAE | 92.6%</p>
      <p>Completed 10th grade with excellence in science, mathematics, Social Studies, and English. Extra curricular activities were also actively participated in. Sports and cultural events were part of the school life.</p>
    </div>
  </div>
</section>
