<section id="home" class="section active-section">
    <div class="home-content">
        <button class="theme-toggle" onclick="toggleTheme()" aria-label="Toggle dark mode">
        <img src="assets/toggle.png" alt="Toggle Theme" class="theme-icon">
    </button>
    <h1 class="main-title">Hello, I'm <span class="highlight">Alen</span></h1>
    <p class="subtitle">Developer | Learner | Innovator</p>
    <p class="intro-text">
      I'm a software engineer who is passionate about learning, exploring new technologies and creating innovative solutions. Welcome to my digital space, here I will be showcasing my journey, work and achievements.
    </p>
  </div>
  <a href="/contact" class="contact-me-btn">Contact Me</a>
</section>
