<section id="internships" class="section active-section">
  <h2 class="section-title">Internships</h2>
  <div class="timeline-container">
    <div class="timeline-item">
      <h3>Machine Learning Intern</h3>
      <p class="timeline-date">NEST Cyber Campus | Winter 2022</p>
      <p>The internship at NEST provided practical experience with AI and machine learning processes. Working with real-world datasets, creating and modeling machine learning models, and using strategies like feature engineering, preprocessing, and performance evaluation were all part of the job. Exposure to Python-based machine learning tools during the program aided in developing comprehension of model behavior, optimization, and result interpretation. Strong practical insight into developing, evaluating, and improving machine learning systems for practical uses was imparted by this training.</p>
    </div>
  </div>
</section>
