<section id="work" class="section active-section">
  <h2 class="section-title">Work Experience</h2>
  <div class="timeline-container">
    <div class="timeline-item">
      <h3>Associate Backend Engineer</h3>
      <p class="timeline-date">Ruby Seven Studios | 2024 - Present</p>
      <p>It involves backend development on large-scale, real-money gaming platforms with a core focus on building, integrating, and maintaining reliable server-side systems. This includes API implementation, MySQL and DynamoDB database management, caching solutions implementation, handling AMF services, support of Docker-based tooling, and cloud management. Other tasks will include debugging, optimizing performance, modernizing legacy code, and integrating game provider modules for seamless gameplay and efficient platform operations.</p>
    </div>
  </div>
</section>
